<!DOCTYPE html>
<html>
<head>
	<link href="static/setoption/css/style.css" rel="stylesheet" />
	<title>Page Choice</title>
</head>
<body>
	<header class="header">
		<a data-aos="zoom-in-left" data-aos-delay="150" href="#" class="logo"> <i class="fas fa-paper-plane"></i>Eiffel Tours </a>

	</header>

	<section>
		<div class="box-container">
			<form method="post">
				<div class="box">
					<label>
					<input type="radio" name="option" value="option1">
					Eiffel Tours (Mexico)
					</label>
				</div>

				<div class="box">
					<label>
					<input type="radio" name="option" value="option2">
					Effiel Tours (Germany)
					</label>
				</div>


				<button type="submit">Continue</button>
			</form>

		</div>


	</section>

</body>
</html>